header{
  background-color: #145DA0;
  color:white;
  padding:20px;
  font-style: italic;
  text-align: center;
  h1{
    font-weight: 400;
  }
}
#navbar{
  overflow: hidden;
  background-color:#2E8BC0;
  border-bottom-color: #0C2D48;
  border-bottom-width: 15px;
  a{
    float: left;
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  a:hover{
    background-color:#145DA0;
    color:#B1D4E0;
  }
}
#container{
  margin: 2% 5% 100px;


div.card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
}
div.card-title{
  text-align:center;
  font-size: 2em;
  background-color:#145DA0 ;
  
  p{
    color:white;
  }
}
div.card-content{
  padding:2px 16px;
  
}
div.card:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}




}
footer{
  background-color:#145DA0;
  position: fixed;
  bottom:0;
  width: 100%;
  left: 0;
  a{
    color: white;
    text-decoration: none;
    float:right;
    padding-right:10px;
    font-weight:400;
    font-style:italic;
    
  }
  a:hover{
    text-decoration: underline;
  }
  p{
    float: left;
    color:white;
    font-style:italic;
  }
}

#movies{
  border-collapse: collapse;
  width:100%;
  margin-bottom: 30px;
  
}
th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
td{
  border:1px;
  border-color: #ddd;
  border-style:solid;
  
  padding: 8px;
}