h1{
  text-align: center;
}

image-gallery{
  display:grid;
  margin-top:10%;
  left{
    grid-column-start: 1;
    grid-column-end:1;
    text-align: center;
    
  }
  mid{
    grid-column-start:2;
    grid-column-end:2;
    text-align: center;
  }
  right{
  grid-column-start:3;
  grid-column-end:3;
  text-align: center;
  }
  figure{
    text-align:center;
  }
  figcaption{
    text-align: center;
    font-style: italic;
    font-size:.75em;
  }
}


a:hover {
    text-decoration: underline;
}
last{
    float: right;
    text-align: right;
    margin-top: 20%;
    width:100%;
    margin-bottom:20px;
    
  }